1. Клонировать репозиторий в свой компьютер
2. Создать версию для commit - nameCommit
3. Создать application django nameApp
4. Сделать миграции и подтвердить данный
5. Запросить pull request
6. Просмотреть с главного компьютера